@model ShopmeProject.Models.Order
<div id="trackList">
    @{int count = 0;}
    @foreach (var track in Model.OrderTrack)
    {
        count++;
        var isTrackWithStatusNew = (track.Status.ToString() == "NEW");

        <div class="row border rounded p-1" id="rowTrack@(count)">
            <input type="hidden" name="trackId" value="@track.Id" class="hiddenTrackId" />

            <div class="col-2">
                <div class="divCountTrack">@count</div>

                @if (!isTrackWithStatusNew)
                {
                    <div class="mt-1">
                        <a class="fas fa-trash icon-dark linkRemoveTrack" href="" rowNumber="@count"></a>
                    </div>
                }
            </div>

            <div class="col-10">
                <div class="form-group row">
                    <label class="col-form-label">Time:</label>
                    <div class="col">
                        <input type="datetime-local" name="trackDate" value="@track.UpdatedTimeOnForm"
                               class="form-control"
                               @(isTrackWithStatusNew ? "readonly" : "")
                               @(isTrackWithStatusNew ? "" : "required")
                               style="max-width: 300px" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label">Status:</label>
                    <div class="col">
                        @if (isTrackWithStatusNew)
                        {
                            <input type="hidden" name="trackStatus" value="NEW" />
                        }
                        <select name="trackStatus" class="form-control dropDownStatus" required style="max-width: 150px"
                                rowNumber="@count"
                                @(isTrackWithStatusNew ? "disabled" : "")
                                @(isTrackWithStatusNew ? "id=trackStatusOptions" : "")>
                            @foreach (var os in ViewBag.OrderStatus)
                            {
                                <option value="@os" @(os.ToString() == track.Status ? "selected" : "")>@os</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label">Notes:</label>
                    <div class="col">
                        <textarea rows="2" cols="10" class="form-control" name="trackNotes" style="max-width: 300px"
                                  id="trackNote@(count)"
                                  @(isTrackWithStatusNew ? "readonly" : "required")>@track.Notes</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="emptyLine@(count)" class="row">&nbsp;</div>
    }

</div>

<button id="linkAddTrack" class="btn btn-success mt-3">Add Track Record</button>
