@model ShopmeProject.ViewModels.ProductViewModel

@{
    ViewBag.Title = ViewBag.PageTitle;


}
<h2>Manage Products | @ViewBag.PageTitle</h2>

@using (Html.BeginForm("Save", "Product", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return checkUnique(this)" }))
{
    @Html.HiddenFor(m => m.product.Id)
   
    if (Model.product.CategoryId != 0)
    {
        <input type="hidden" id="categoryId" value="@Model.product.CategoryId" />
    }


    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#description" role="tab">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#images" role="tab">Images</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#details" role="tab">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#shipping" role="tab">Shipping</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active p-3" id="overview" role="tabpanel">

                @Html.Partial("ProductOverview", Model)
            </div>
            <div class="tab-pane" id="description" role="tabpanel">
                @Html.Partial("product_description", Model)

            </div>
            <div class="tab-pane" id="images" role="tabpanel">
                @Html.Partial("product_images", Model)

            </div>
            <div class="tab-pane p-3" id="details" role="tabpanel">

                @Html.Partial("product_details", Model)

                <div>
                    <input type="button" class="btn btn-secondary" value="Add More Detail"
                           onclick="addNextDetailSection()" />
                </div>

            </div>
            <div class="tab-pane p-3" id="shipping" role="tabpanel">
                @Html.Partial("product_shipping", Model)

            </div>
        </div>
    </div>

    <div class="text-center">
        <input type="submit" value="Save" class="btn btn-primary m-3" />
        <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
    </div>
}

<div class="modal fade text-center" id="modalDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Warning</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <span id="modalBody"></span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    MAX_FILE_SIZE = 502400; // 500KB
    var moduleURL = "@Url.Action("", "Product")"

	brandModuleURL = '@Url.Action("ListCategoriesByBrand","Brands")';

    var CheckDuplicateNamelUrl = '@Url.Action("CheckDuplicateName")';
    var defaultImageThumbnailSrc = '/Images/image-thumbnail.png';


    $(document).ready(function () {
       

        $("#buttonCancel").on("click", function () {
            //console.log(moduleURL);
            window.location = moduleURL;
        });
    });

</script>

<script src="@Url.Content("~/Scripts/product_form_overview.js")"></script>
<script src="@Url.Content("~/Scripts/product_form_details.js")"></script>
<script src="@Url.Content("~/Scripts/product_form_images.js")"></script>